.box1 {
    position: absolute;
    top: 0%;
    left: 40%;
}
.box2 {
    position: absolute;
    top: 10%;
    left: -2%;
}
.box3 {
    position: absolute;
    top: 30%;
    left: 50%;
}
.box4 {
    position: absolute;
    top: 50%;
    right: -2%;
}
.box5 {
    position: absolute;
    top: 25%;
    left: 10%;
}
.box6 {
    position: absolute;
    top: 72%;
    left: 14%;
}
.box7 {
    position: absolute;
    top: 60%;
    left: 40%;
}
.box8 {
    position: absolute;
    top: 65%;
    right: 10%;
}
.box9 {
    position: absolute;
    top: 20%;
    right: 15%;
}
.box10 {
    position: absolute;
    top: 75%;
    left: 50%;
}
.box11 {
    position: absolute;
    top: 80%;
    right: 7%;
}
.box12 {
    position: absolute;
    top: 90%;
    left: 7%;
}
.box13 {
    position: absolute;
    top: 53%;
    left: 6%;
}
.box14 {
    position: absolute;
    top: 5%;
    left: 97%;
}
.box15 {
    position: absolute;
    top: 92%;
    left: 50%;
}
.box16 {
    position: absolute;
    top: 37%;
    right: 7%;
}
.box17 {
    position: absolute;
    top: 3%;
    right: 27%;
}
.box18 {
    position: absolute;
    bottom: 11%;
    left: 24%;
}
.box19 {
    position: absolute;
    bottom: 5%;
    right: 24%;
}
.box20 {
    position: absolute;
    top: 7%;
    left: 17%;
}

.box21 {
    position: absolute;
    top: 7%;
    left: 12%;
}
.box22 {
    position: absolute;
    bottom: 8%;
    right: 19%;
}
.box23 {
    position: absolute;
    top: 47%;
    right: 17%;
}
.box24 {
    position: absolute;
    bottom: 14%;
    left: 28%;
}
.box25 {
    position: absolute;
    top: 15%;
    right: 18%;
}
.box26 {
    position: absolute;
    top: 57%;
    left: -1%;
}
.box27 {
    position: absolute;
    top: 32%;
    left: 11%;
}
.box28 {
    position: absolute;
    top: 77%;
    left: 55%;
}
.box29 {
    position: absolute;
    top: 19%;
    left: 45%;
}
.box30 {
    position: absolute;
    bottom: -2%;
    right: -1%;
}
.box31 {
    position: absolute;
    top: 77%;
    left: 3%;
}
.box32 {
    position: absolute;
    top: 11%;
    left: 30%;
}
.box33 {
    position: absolute;
    bottom: 32%;
    right: 5%;
}
.box34 {
    position: absolute;
    bottom: -2%;
    left: 33%;
}
.box34 {
    position: absolute;
    bottom: 0%;
    left: -2%;
}
.box36 {
    position: absolute;
    bottom: 50%;
    left: 22%;
}
.box37 {
    position: absolute;
    bottom: 39%;
    left: 37%;
}
.box38 {
    position: absolute;
    bottom: 29%;
    right: 69%;
}
.box39 {
    position: absolute;
    bottom: 32%;
    left: 67%;
}
.box40 {
    position: absolute;
    top: 9%;
    left: 56%;
}

